<header class="navbar navbar-expand navbar-dark flex-row align-items-md-center ct-navbar nav-bar-logged">
    <a class="navbar-brand mr-0 mr-md-2 logo-logged" href="{{ path('app_home') }}" aria-label="Bootstrap">
        <img alt="image" src="{{ asset('assets/img/logo.png') }}" >
    </a>

    <div class="d-none d-sm-block ml-auto">
{#        <ul class="navbar-nav ct-navbar-nav flex-row align-items-center">#}
{#            <li class="nav-item dropdown d-none">#}
{#                <a class="btn-link text-white dropdown-toggle mr-sm-3" href="#" id="ct-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">1.0.1</a>#}
{#                <div class="dropdown-menu" aria-labelledby="ct-versions">#}
{#                    <a class="dropdown-item active" href="../..//docs/1.0.1/">Latest - 1.0.1</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank">#}
{#                    <i class="fa fa-facebook-square"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank">#}
{#                    <i class="fa fa-twitter"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank">#}
{#                    <i class="fa fa-instagram"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank">#}
{#                    <i class="fa fa-dribbble"></i>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial" target="_blank">#}
{#                    <i class="fa fa-github"></i>#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
    </div>
        {% if app.user.photo %}
            {% set pathPhoto = '/uploads/users/' ~ app.user.photo %}
        {% else %}
            {% set pathPhoto = '/assets/img/no_photo.png' %}
        {% endif %}
        <ul class="align-items-center d-none d-md-flex navbar-nav">
            <li class="dropdown nav-item">
                <a aria-haspopup="true" href="#" class="pr-0 nav-link pt-0 pb-0" aria-expanded="false">
                    <div class="align-items-center media">
                        <span class="avatar avatar-sm rounded-circle">
                        <img src="{{ pathPhoto }}"></span>
                        <div class="ml-2 d-none d-lg-block media">
                            <span class="mb-0 text-sm text-dark font-weight-400">{{ app.user.fullName }}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <a href="{{ path('security_logout') }}" class="btn btn-neutral btn-sm btn-icon ml-sm-3 d-none d-md-block">
            <span class="btn-inner--icon">
                <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Logout</span>
        </a>


    <button class="navbar-toggler ct-search-docs-toggle d-block d-md-none ml-auto ml-sm-0" type="button" data-toggle="collapse" data-target="#ct-docs-nav" aria-controls="ct-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>