<div class="col-12 col-md-3 col-xl-2 ct-sidebar">
    <nav class="collapse ct-links" id="ct-docs-nav">
        <!-- Show links for all groups -->
        <div class="ct-toc-item active">
            <a class="ct-toc-link" href="#">Menu</a>

            {% set current_path = app.request.get('_route') %}
{#            {{ current_path }}#}

            <ul class="nav ct-sidenav">
                {% if is_granted('ROLE_USER') %}
                    <li class="{% if current_path == "app_home" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="{% if current_path == "app_referral_new" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('app_referral_new') }}">Submit a Referral</a>
                    </li>
                    <li class="{% if current_path == "app_referral_list" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('app_referral_list') }}">Reports</a>
                    </li>

                    <li class="{% if current_path == "profile_index" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('profile_index') }}">My Profile</a>
                    </li>
                    <li class="{% if current_path == "profile_payments_list" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('profile_payments_list') }}">My Payments</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{% if current_path == "app_home" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="{% if current_path == "admin_referral_list" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('admin_referral_list') }}">Reports</a>
                    <li>
                    <li class="{% if current_path == "admin_user_list" %}active ct-sidenav-active{% endif %}">
                        <a href="{{ path('admin_user_list') }}">Users</a>
                    <li>
                {% endif %}
            </ul>
        </div>
        <!-- Show links for all groups -->
        {#                    <div class="ct-toc-item active">#}
        {#                        <a class="ct-toc-link" href="../../docs/foundation/colors.html">Foundation</a>#}
        {#                        <ul class="nav ct-sidenav">#}
        {#                            <li>#}
        {#                                <a href="../../docs/foundation/colors.html">Colors</a></li>#}
        {#                            <li>#}
        {#                                <a href="../../docs/foundation/grid.html">Grid</a></li>#}
        {#                            <li>#}
        {#                                <a href="../../docs/foundation/typography.html">Typography</a></li>#}
        {#                            <li>#}
        {#                                <a href="../../docs/foundation/icons.html">Icons</a></li>#}
        {#                        </ul>#}
        {#                    </div>#}
        <!-- Show links for all groups -->

        <!-- Show links for all groups -->
        {#                    <div class="ct-toc-item active">#}
        {#                        <a class="ct-toc-link" href="../../docs/plugins/datepicker.html">Plugins</a>#}
        {#                        <ul class="nav ct-sidenav">#}
        {#                            <li>#}
        {#                                <a href="../../docs/plugins/datepicker.html">Datepicker</a></li>#}
        {#                            <li>#}
        {#                                <a href="../../docs/plugins/headroom.html">Headroom</a></li>#}
        {#                            <li>#}
        {#                                <a href="../../docs/plugins/sliders.html">Sliders</a></li>#}
        {#                        </ul>#}
        {#                    </div>#}
    </nav>
</div>