<h3>TERMS OF USE- INTEL TECHNOLOGY GROUP</h3>

<p>
    Welcome to www.itgresiduals.com owned and operated by Intel Technology Grup (“ITG”, “We” or “US”).  We maintain this website for your technology referrals, information, and residuals portfolio. We provide our content, products, and services to you on the sites subject to the following terms and conditions (the "Terms"). By using the ITG Sites, you agree to these Terms.
</p>

<p>
    We may periodically change the Terms. Modifications are effective immediately upon being made available online. You should read these Terms whenever you visit the ITG Sites so that you are aware of any modifications. Your use of the ITG Sites after modifications have been posted constitutes your agreement to be bound by the Terms as modified. IF YOU ARE NOT WILLING TO BE BOUND BY THE TERMS, DO NOT USE THE ITG SITES AND DO NOT SUBMIT ANY INFORMATION TO US THROUGH THE ITG SITES.
</p>
<p>
    1.- COPYRIGHTS. All content on the ITG Sites and/or on e-mails distributed to you from ITG, including text, graphics, logos, button icons, and images, and the selection and arrangement of such content (collectively, the “Content”) is the exclusive property of ITG or its licensors and is protected by U.S. and international copyright laws. All rights not expressly granted are reserved. Except as noted on the ITG Sites or in these Terms, you may not use, store, display, modify, reproduce, publish, transmit, participate in the transfer or sale of, create derivative works of, distribute, publicly perform, publicly display, or in any way exploit any of the Content in whole or in part.
</p>
<p>
    2.- TRADEMARKS. The trademarks, service marks, designs, and logos (collectively, the "Trademarks") displayed on the ITG Sites and/or on e-mails sent to you are the registered and unregistered Trademarks of ITG and of ITG's licensors. Your use of the Trademarks displayed on these Sites except as provided in these Terms, is strictly prohibited.
</p>
<p>
    3.- USE OF SITES. You may use or download material displayed on the ITG Sites for noncommercial, personal use only. If you download material, you must retain all copyright and other proprietary notices displayed on the materials. You may not distribute, modify, transmit, post, or otherwise use the content of the ITG Sites and/or content contained in e-mails distributed to you from ITG for public or commercial purposes without ITG's written permission. ITG reserves the right to refuse service, terminate accounts, terminate access to all or part of the CC Sites and cancel orders without notice or recourse if we, in our sole discretion, believe that your conduct violates these Terms or any applicable law or is harmful to the interests of another user, a service provider, ITG or our affiliates.
</p>
<p>
    4.- VOTING, FEEDBACK AND OTHER SUBMISSIONS. Users who have registered on the ITG Sites may vote and post comments and other content on the restaurants and other issues of general interest featured on the ITG Sites. You are solely responsible for all materials, whether publicly posted or privately transmitted, that you upload, post, email, transmit or otherwise make available on the ITG Sites, including numerical votes, written comments and images (“Your Content”). You agree that Your Content will not violate any right of any third party, including, without limitation, copyright, trademark, privacy or other personal or proprietary rights of any person or entity. You further agree that Your Content will not contain libelous or otherwise unlawful, abusive or obscene material (as determined by us in our sole discretion), or contain any computer virus or other malicious code that could in any way affect the operation of the ITG Sites or any computer that connects to the ITG Sites.
    You may not use false or misleading contact information, pretend to be someone other than yourself, or otherwise mislead ITG or its service providers. We have the right, but not the obligation, to remove any Content posted to the ITG Sites by users that may, in our sole discretion, violate these Terms or that is otherwise, in our sole opinion, objectionable. Nonetheless, you understand that by using the ITG Sites, you may be exposed to Content that you find offensive or objectionable. Your use of the CC Sites constitutes your acknowledgment that you bear all risks associated with such use.
</p>
<p>
    5.- GRANT OF LICENSE. You certify that you own all intellectual property rights in Your Content. ITG and its service providers will treat such content posted or transmitted by you as non-confidential and non-proprietary information. Upon posting or transmitting Your Content on or through the CC Sites you grant ITG a worldwide, irrevocable, royalty-free, non-exclusive, license, with the right to sublicense, use, reproduce, create derivative works of, distribute, publicly perform, publicly display, transfer, transmit and publish Your Content and subsequent versions of Your Content for any and all purposes. Please do not send us or post any creative ideas or any other plans or proposals that you would like to keep confidential and proprietary. You agree that any information that you provide us will be covered by the license granted herein.
</p>
<p>
    6.- SITE DIRECTED AT UNITED STATES TECHNOLOGY INDUSTRY. The ITG Sites are targeted at and are intended for INFORMATION TECHNOLOGY REFERRALS located in the United States. Given the global nature of the Internet, however, the ITG Sites may be accessed by anyone located outside of the United States. We make no representations or warranties that the ITG Sites are appropriate or available for use in countries outside of the United States. Visitors who choose to access the ITG Sites from outside the United States do so at their own initiative and are responsible for compliance with any and all local laws and regulations that may apply to such access.
</p>
<p>
    7.- DISCLAIMERS; LIMITATIONS ON LIABILITY. YOUR USE OF THE ITG SITES ARE AT YOUR OWN RISK. ALL INFORMATION ON THE SITES AND/OR INCLUDED IN E-MAILS DISTRIBUTED TO YOU BY ITG IS PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF NON-INFRINGEMENT OR ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR ANY WARRANTY THAT THE ITG SITES WILL BE UNINTERRUPTED OR ERROR FREE. IN NO EVENT SHALL CC BE LIABLE TO YOU FOR ANY DAMAGES (INCLUDING INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES) ARISING OUT OF YOUR USE OF, OR INABILITY TO USE, THE ITG SITES. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.
</p>
<p>
    8.- WAIVER OF JURY TRIAL. THE PARTIES HEREBY IRREVOCABLY WAIVE ANY AND ALL RIGHT TO TRIAL BY JURY IN ANY LEGAL PROCEEDING ARISING OUT OF OR RELATING TO THIS AGREEMENT OR THE TRANSACTIONS CONTEMPLATED HEREBY.
</p>
<p>
    9.- INJUNCTIVE RELIEF. You acknowledge that any use of the ITG Sites except as expressly permitted by these Terms will cause irreparable injury for which monetary damages would not be sufficient, and you consent to entry of immediate and permanent injunctive relief with respect to such unauthorized use.
</p>
<p>
    10.- INDEMNIFICATION. By utilizing the ITG Sites, you agree to indemnify, defend and hold ITG and all of its officers, directors, employees, agents, service providers and licensors (collectively, the “ITG Parties”) harmless from and against any and all liability, losses, costs and expenses (including attorneys’ fees) incurred by any ITG Party in connection with any claim, including, but not limited to, claims for defamation, violation of rights of publicity and/or privacy, copyright infringement or trademark infringement arising out of your use of the ITG Sites; Your Content; your violation of these Terms; or your violation of the rights of any other person or entity. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate with our defense of these claims.
</p>
<p>
    11.- PRIVACY. For an explanation of our practices and policies related to the collection, use, and storage of our users' information, please read our Privacy Policy for more detailed information.
</p>
<p>
    12.- APPLICABLE LAW. Any dispute arising from these Terms shall be resolved exclusively in the state and federal courts of the State Florida except with regard to conflicts of laws principles thereof, and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.
</p>
<p>
    13.- COPYRIGHT POLICY AND DIGITAL MILLENNIUM COPYRIGHT ACT (“DMCA”) NOTICE. ITG respects the copyright interests of others and, as such, requires our users to comply with these Terms and all applicable laws regarding copyrights. If you believe that any content shown on or transmitted through the ITG Sites violates these Terms or your copyright, please report the violation. In the case of a copyright violation please provide the following information:
    <br>
    • a description of the copyrighted work or other intellectual property that you claim has been infringed;
    <br>
    • a description of where the material that you claim is infringing is located on the CC Sites (including the exact URL);
    <br>
    • a description of the copyrighted work or other intellectual property that you claim has been infringed;
    <br>
    • an address, a telephone number, and an email address where we can contact you and, if different, an email address where the alleged infringing party,
    if not ITG, can contact you;
    <br>
    • a statement that you have a good-faith belief that the use is not authorized by the copyright or other intellectual property rights owner, by its agent, or by law; and;
    <br>
    • a statement by you under penalty of perjury that the information in your notice is accurate and that you are the copyright or intellectual property owner or are authorized to act on the owner's behalf.
    <br>
</p>
<p>
    14.- All notices should be sent to our designated agent as follows:
    <br>
    It is often difficult to determine if your intellectual property rights have been violated. We may request additional information before we remove allegedly infringing material. If a dispute develops as to the correct owner of the rights in question, we reserve the right to remove the content of both parties.
</p>
<p>
    15.- MISCELLANEOUS. We may be required by state or federal law to notify you of certain events.
    <br>
    You hereby acknowledge and consent that such notices will be effective upon our posting them on the ITG Sites or delivering them to you through the email address we have for you. Our failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. If any part of these Terms is determined to be invalid or unenforceable pursuant to applicable law, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Terms shall continue in full force and effect.
</p>

<br>
<p>
<h6>Thank you for reading these Terms and for using ITG web.</h6>
</p>