<br>
Thanks,<br>
<b>Intel Technology Group Team</b>
<br>
{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('assets/img/logo.png')) }}" width="85">#}
<img src="http://itgresiduals.com/assets/img/logo.png" width="250" style="margin-top: 10px;">