<p>Dear, {{ user.firstName }}</p>

<p>Congratulations, your account has been approved and is now activated.</p>
<p>Please log in and customize your credential password.</p>
<p>If you have any questions, please feel free to email us at
<a href="mailto:questions@inteltechnologygroup.com">questions@inteltechnologygroup.com</a></p>

<p>We look forward to working with you and building your passive income future
for all your referrals.</p>

{{ include('@App/Emails/_footer.html.twig') }}
