    <h3>Password Change Request</h3>
    <p>The password reset has been requested, if you consider that this is an error, ignore this email, otherwise click on the following link to reset your password:</p>
    <p>
        <a target="_blank" href="{{ url_site }}{{ path('app_password_update', { 'user_id': user_id, 'email': email }) }}">Reset my password!</a>
    </p>


    {{ include('@App/Emails/_footer.html.twig') }}
