<p>Dear, {{ name }},</p>

<p>Thank you for registering with ITG Residual's Website.
We will review your application submission and once approved, we will send you
    the credentials to access our site.</p>
<p>If you have any questions, please feel free
to email us at <br>
    <a href="mailto:questions@inteltechnologygroup.com">questions@inteltechnologygroup.com</a>
</p>
{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}

{{ include('@App/Emails/_footer.html.twig') }}