{% extends 'base.html.twig' %}
{% block top_content %}{% endblock %}

{% block body %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1">

        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">

                        <div class="card-body bg-white px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Change Password</small>
                            </div>
                            {{ include('_flash_messages.html.twig') }}

                            <form action="{{ path('security_change_password') }}" method="post">
                                {#                            <form method="post" action="{{ path('app_redirect') }}">#}
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form_widget(form.password.first)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form_widget(form.password.second)}}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                </div>
                                {{ form_row(form._token) }}
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
{#                        <div class="col-6">#}
{#                            <a href="#" class="text-light"><small>Forgot password?</small></a>#}
{#                        </div>#}
{#                        <div class="col-6 text-right">#}
{#                            <a href="{{ path('user_registration') }}" class="text-light"><small>Create new account</small></a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

