{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1">

        </div>
        <div class="container">
            {{ include('_flash_messages.html.twig') }}
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <img class="logo" src="{{ asset('assets/img/logo.png') }}" >
                        <div class="card-body bg-white px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
{#                                <small>Or sign in with  bg-secondarycredentials</small>#}
                            </div>

                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}


                            <form action="{{ path('login') }}" method="post">
{#                            <form method="post" action="{{ path('app_redirect') }}">#}
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" id="username" name="_username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" id="password" placeholder="Password" name="_password" type="password">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id="customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for="customCheckLogin">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <a href="{{ path('app_password_recovery_one') }}" class="text-dark">Forgot password?</a>
                                    </div>
                                    <div class="col-6 text-right p-0">
                                        <a href="{{ path('user_registration') }}" class="text-dark">Create new account</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer bg-secondary">
                        <a href="{{ path('app_termns') }}" class="text-left">Terms & Conditions</a>
                        <a href="{{ path('app_privacy') }}" class="pull-right">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        img.logo {
            width: 295px;
            text-align: center;
            margin: auto;
            padding: 19px;
        }

        .bg-secondary {
            background-color: #FFFFFF !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666666 !important;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #666666 !important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #666666 !important;
        }
    </style>
{% endblock %}
