{% for flashMsg in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-inner--text">{{ flashMsg|trans|raw }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for flashMsg in app.session.flashbag.get('notice') %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-inner--text">{{ flashMsg|trans|raw }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for flashMsg in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">

        <span class="alert-inner--text">{{ flashMsg|trans|raw }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for flashMsg in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span class="alert-inner--text">{{ flashMsg|trans|raw }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
