<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start earning residuals and commissions, sign up now!">
        <meta name="author" content="ITGresiduals">
        <title>{% block title %}ITGresiduals.com{% endblock %}</title>
        <meta property="og:title" content="ITGresiduals" />
        <meta property="og:description" content="Start earning residuals and commissions, sign up now!">
        <meta property="og:url" content="http://itgresiduals.com/login" />
        <meta property="og:image" content="http://itgresiduals.com/assets/img/logo.png">

        {% block stylesheets %}
{#            <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">#}
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
            <!-- Icons -->
            <link href="{{ asset('assets/vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- Argon CSS -->
            <link type="text/css" href="{{ asset('assets/css/argon.css') }}" rel="stylesheet">

            <style>
                .hidden {
                    display: none;
                }

                .form-row ul  {
                    padding: 1px;
                }
                .form-row ul li {
                    list-style-type: none;
                    color: red;
                    text-align: left;
                    font-size: 14px;
                }

                .nav-bar-logged {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    background-color: #f1f1f1 !important;
                }

                .logo-logged img {
                    height: 40px !important;
                }
            </style>
        {% endblock %}

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {{ include('header.html.twig') }}
        {% endblock %}

        <main class="{% if class_main is defined %} {{ class_main }} {% endif %}">
            {% block top_content %}
                <div class="position-relative">
                    <!-- Hero for FREE version -->
                    <section class="section section-lg section-hero section-shaped">
                        <!-- Background circles -->
{#                        <div class="shape shape-style-1 shape-primary">#}
{#                            <span class="span-150"></span>#}
{#                            <span class="span-50"></span>#}
{#                            <span class="span-50"></span>#}
{#                            <span class="span-75"></span>#}
{#                            <span class="span-100"></span>#}
{#                            <span class="span-75"></span>#}
{#                            <span class="span-50"></span>#}
{#                            <span class="span-100"></span>#}
{#                            <span class="span-50"></span>#}
{#                            <span class="span-100"></span>#}
{#                        </div>#}
                        <div class="container shape-container d-flex align-items-center py-lg">
                            <div class="col px-0">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-6 text-center">
                                        <img alt="image" src="./assets/img/brand/white.png" style="width: 200px;" class="img-fluid">
                                        <p class="lead text-white">A beautiful Design System for Bootstrap 4. It's Free and Open Source.</p>
                                        <div class="btn-wrapper mt-5">
                                            <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                                                <span class="btn-inner--text">Download HTML</span>
                                            </a>
                                            <a href="https://github.com/creativetimofficial/argon-design-system" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                                                <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                                                <span class="btn-inner--text"><span class="text-warning">Star us</span> on Github</span>
                                            </a>
                                        </div>
                                        <div class="mt-5">
                                            <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                                            <img alt="image" src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SVG separator -->
                        <div class="separator separator-bottom separator-skew zindex-100">
                            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                            </svg>
                        </div>
                    </section>
                </div>
            {% endblock %}



            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/popper/popper.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/headroom/headroom.min.js') }}"></script>
            <!-- Optional JS -->
            <script src="{{ asset('assets/vendor/onscreen/onscreen.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/nouislider/js/nouislider.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
            <!-- Argon JS -->
            <script src="{{ asset('assets/js/argon.js') }}"></script>
        {% endblock %}
    </body>
</html>
