{% extends 'base.html.twig' %}

{% block top_content %}
  {{ include('default/landing.top.html.twig') }}
{% endblock %}

{% block body %}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  
{% endblock %}
