<div class="">
    <a href="{{ path('app_referral_new') }}" class="btn btn-lg btn-primary p-md-4">
        <i class="fa fa-reorder"></i> Submit Referral
    </a>
</div>

<hr>
{#<h3>Earning</h3>#}
<div class="row mt-5" >
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>Current Month Earnings* ({{ "now"|date('m')|month }})</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ earned.month|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>Previous Month Earnings* ({{ previousMonth|month }})</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ earned.previousMonth|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>Total Earnings Year to Date</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ earned.earnedYear|number_format(2, '.', ',') }}</span>
        </button>
    </div>
</div>



<h3 id="resources-and-credits"><div>Referral Snapshot<a class="anchorjs-link " href="#resources-and-credits" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div></h3>
{#                <p>This Design System is fully coded and built on top of Open Source, more details here:</p>#}
<ul>
    <li>Submitted: {{ status.submitted }}</li>
    <li>Closed Won: {{ status.closed }} </li>
{#    <li>Sold--</li>#}
    <li>Pending Approval: {{ payout.pending }}</li>
    <li>Paid: {{ status.paid }}</li>
</ul>
