<div class="">
    <h1>ITG ADMIN</h1>
    <h6>Users: {{ users }}</h6>
</div>

<hr>
{#<h3>Earning</h3>#}
<div class="row mt-5" >
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL SALES CURRENT MONTH ({{ "now"|date('m')|month }})</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.totalSalesCurrentMonth|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL SALES PREVIOUS MONTH ({{ previousMonth|month }})</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.totalSalesPreviousMonth|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL SALES YEAR TO DATE</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.totalSalesYear|number_format(2, '.', ',') }}</span>
        </button>
    </div>
</div>

<div class="row mt-5" >
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL RESIDUAL PAYMENTS</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.totalResidualPayment|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL PENDING PAYMENTS</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.pending|number_format(2, '.', ',') }}</span>
        </button>
    </div>
    <div class="col-md-4">
        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white mb-3">
            <i class="fa fa-dollar"></i>
        </div>
        <h6>TOTAL CANCELLED PAYMENTS</h6>
        <button type="button" class="btn btn-primary">
            <span>${{ payout.cancelled|number_format(2, '.', ',') }}</span>
        </button>
    </div>
</div>
