{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">

            {{ include('@App/global/_menu.html.twig') }}

            <main class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 ct-content" role="main">
                {% if is_granted('ROLE_USER') %}
                    {{ include('@App/home/_intro_user.html.twig') }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('@App/home/_intro_admin.html.twig') }}
                {% endif %}
{#                <h3 id="learn-more"><div>Learn more<a class="anchorjs-link " href="#learn-more" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div></h3>#}
{#                <p>Stay up to date on the development journey and connect with us on:</p>#}
{#                <ul>#}
{#                    <li>Follow <a href="https://twitter.com/creativetim">Creative Tim on Twitter</a>.</li>#}
{#                    <li>Read and subscribe to <a href="http://blog.creative-tim.com">The Official Creative Tim Blog</a>.</li>#}
{#                    <li>Follow <a href="https://www.instagram.com/creativetimofficial">Creative Tim on Instagram</a>.</li>#}
{#                    <li>Follow <a href="https://www.facebook.com/creativetim">Creative Tim on Facebook</a>.</li>#}
{#                </ul>#}
{#                <h3 id="press-here---to-quick-start"><div>Press here <a href="quick-start.html">-&gt; to Quick start</a><a class="anchorjs-link " href="#press-here---to-quick-start" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div></h3>#}
{#            #}
            </main>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

    <style>
        main {
            overflow: initial;
        }
    </style>
{% endblock %}
