
{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block top_content %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        img.logo {
            width: 295px;
            text-align: center;
            margin: auto;
            padding: 19px;
        }

        .bg-secondary {
            background-color: #FFFFFF !important;
        }

        ul {
            padding-top: 0px;
            padding-left: 0px;
        }

        li {
            list-style-type: none;
            color: red;
            font-size: 14px;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666666 !important;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #666666 !important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #666666 !important;
        }

        .custom-control-alternative .custom-control-label::before {
            border: 1px solid #CCCCCC;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="section section-shaped section-lg">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <img class="logo" src="{{ asset('assets/img/logo.png') }}" >
                        <div class="card-body px-lg-5 py-lg-5">

                            <form class="needs-validation" novalidate id="register-form" action="" method="post">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(form.companyName) }}
                                    </div>
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id="individual" type="checkbox">
                                        <label class="custom-control-label" for="individual"><span>I'm a Individual</span></label>
                                    </div>
                                    {{ form_errors(form.companyName) }}
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(form.firstName) }}
                                        <div class="invalid-feedback">
                                            You first name is mandatory
                                        </div>
                                    </div>
                                    {{ form_errors(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(form.lastName) }}
                                        {{ form_errors(form.lastName) }}
                                        <div class="invalid-feedback">
                                            You last name is mandatory
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        {{ form_widget(form.email) }}
                                        <div class="invalid-feedback">
                                            You email is mandatory
                                        </div>
                                    </div>
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form_widget(form.plainPassword.first) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                        <div class="invalid-feedback">
                                            Please, enter your password
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form_widget(form.plainPassword.second) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                        <div class="invalid-feedback">
                                            Please, confirm your password
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted font-italic"><small>Confirm password </small></div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" required id="customCheckRegister" type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister"><span>
                                            I agree with the <a href="#" data-toggle="modal" data-target="#modal-default">Privacy Policy</a>
                                            and <a href="#" data-toggle="modal" data-target="#modal-terms">Terms and Conditions</a></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <label>50 + 49</label>
                                        <input type="number" id="captcha" name="captcha" value="" class="form-control-sm">
                                        <div class="invalid-feedback captcha-validation">
                                            Please, complete the operation
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <button type="button" id="btn-register" class="btn btn-primary mt-4">Submit</button>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 text-center">
                                        <a href="{{ path('login') }}" class="btn btn-sm btn-outline-default ">
                                            <span class="btn-inner--icon">
                                              <i class="fa fa-sign-in mr-2"></i>
                                            </span>
                                            I already have an account
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">PRIVACY POLICY-ITG</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body" style="height: 350px; overflow-y: scroll">
                        {{ include('@App/global/privacy.html.twig') }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">TERMS AND CONDITIONS</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body" style="height: 350px; overflow-y: scroll">
                        {{ include('@App/global/terms.html.twig') }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
{#    <section class="section section-shaped section-lg">#}
{#        <div class="shape shape-style-1">#}

{#        </div>#}
{#        <div class="container pt-lg-md">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-lg-5">#}
{#                    <div class="card bg-secondary shadow border-0">#}

{#                        <div class="card-body bg-white px-lg-5 py-lg-5">#}
{#                            <div class="text-center text-muted mb-4">#}
{#                                <small>Or sign in with credentials</small>#}
{#                            </div>#}

{#                      #}
{#                            {{ form_start(form) }}#}
{#                            {{ form_row(form.username) }}#}
{#                            {{ form_row(form.email) }}#}
{#                            {{ form_row(form.plainPassword.first) }}#}
{#                            {{ form_row(form.plainPassword.second) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row mt-3">#}
{#                        <div class="col-6">#}
{#                            <a href="#" class="text-light"><small>Forgot password?</small></a>#}
{#                        </div>#}
{#                        <div class="col-6 text-right">#}
{#                            <a href="{{ path('user_registration') }}" class="text-light"><small>Create new account</small></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#<button type="submit">Register!</button>#}
{#{{ form_end(form) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        let company = $('#user_companyName');

        $('#individual').click(function() {
            if ($(this).is(':checked')) {
                company.val('').attr('disabled', true);
            } else {
                company.attr('disabled', false);
            }
        });


        $('#btn-register').click(function(e) {
            var form = $('.needs-validation');
            var is = false;
            let captcha = $('#captcha').val();

            if ( captcha !== '99') {
                $('.captcha-validation').show();
                return false;
            }

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                is = true;
            }
            form.addClass('was-validated');

            if ( is ) {

                $('#register-form').submit();
            }

            return false;

        });
    </script>
{% endblock %}