{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
            {{ include('_flash_messages.html.twig') }}
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Payments Referral# {{ prospect.id|pad }}</h1>
                <h5>User: {{ prospect.user.fullName }}</h5>
                <div class="avatar-group mt-3">
                </div>
            </div>

            <form action="{{ path('admin_referral_payment_edit', { 'id': payment.id }) }}" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Year</label>
                            <select name="year" id="year" class="form-control">
                                {% set selectYear = '' %}
                                {% for year in listYear %}
                                    {% if year == payment.year %}
                                        {% set selectYear = 'selected' %}
                                    {% endif %}
                                    <option {{ selectYear }} value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Month</label>
                            <select name="month" id="month" class="form-control">
                                {% set selectMont = '' %}
                                {% for k, month in listMonth %}
                                    {% if month == payment.month %}
                                        {% set selectMont = 'selected' %}
                                    {% endif %}
                                    <option {{ selectMont }} value="{{ k }}">{{ month|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" name="amount" class="form-control" value="{{ payment.amount }}" >
                            {% if amount > 0 and amount != payment.amount %}
                                <span class="text-info">The amount should be {{ amount }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Control Reference</label>
                            <input type="text" name="control_reference" value="{{ payment.controlReference }}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Status</label>
                            <select name="status" id="status" class="form-control">
                                {% set selectStatus = '' %}
                                {% for k, st in status %}
                                    {% if k == payment.status %}
                                        {% set selectStatus = 'selected' %}
                                    {% endif %}
                                    <option {{ selectStatus }} value="{{ k }}">{{ st }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Paid</button>
                <a href="{{ path('admin_referral_payment_list', { 'id': prospect.id }) }}" class="btn btn-secondary btn-lg">Back to list</a>
            </form>
        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}


    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            label {
                font-weight: 600;

            }
        </style>
    {% endblock %}
