{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 ct-content" role="main">
            {{ include('_flash_messages.html.twig') }}
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Payments Referral# {{ prospect.id|pad }}</h1>
                <h5>User: {{ prospect.user.fullName }}</h5>
                <div class="avatar-group mt-3">
                </div>
            </div>

            <div class="row mb-3">
{#                <div class="col-4">#}
{#                    <form id="form-referrals" action="{{ path('admin_referral_list') }}" method="post">#}

{#                    </form>#}
{#                </div>#}

                <div class="col-6">
                    <a href="{{ path('admin_referral_payment_create', { 'id': prospect.id }) }}" class=" btn btn-sm btn-info">
                        <i class="fa fa-check"></i> Make Payment
                    </a>
                    <a href="{{ path('admin_referral_list') }}" class="btn btn-sm btn-github ml-2">
                        <i class="fa fa-gear"></i> Back to report list
                    </a>
                </div>
            </div>

            <table id="referrals" class="table table-hover table-sm" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date Payment</th>
                    <th>Payment Reference</th>
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                    {% for pay in payments %}
                        <tr class="row-{{ pay.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ pay.year }}</td>
                            <td>{{ pay.month }}</td>
                            <td>{{ pay.amount|number_format(2, '.', ',') }}</td>
                            <td>
                                {% if pay.status %}
                                    <span class="badge badge-success">PAID</span>
                                {% else %}
                                    <span class="badge badge-danger">PENDING</span>
                                {% endif %}
                            </td>
                            <td>{{ pay.createdAt|date }}</td>
                            <td>{{ pay.controlReference }}</td>

                            <td>
                                <a href="{{ path('admin_referral_payment_edit', { id: pay.id }) }}"><i class="fa fa-edit"></i></a>
                                <a href="javascript:void(0)" href="#" data-path="{{ path('admin_referral_payment_delete', { 'id': pay.id }) }}" data-id="{{ pay.id }}" class="remove-list text-danger"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" align="center">
                                <span class="text-danger">The user has no registered payments yet</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

        <script>
            $(document).ready(function(){

                $('.remove-list').on('click', function () {
                    var id = $( this ).data('id');
                    var path = $( this ).data('path');

                    $.confirm({
                        theme: 'modern',
                        closeIcon: true,
                        animation: 'scale',
                        type: 'blue',
                        title: 'Eliminar',
                        content: '¿Confirma que desea eliminar el pago?',
                        buttons: {
                            confirm: {
                                text: 'Sí, Eliminar',
                                btnClass: 'btn-red',
                                action: function(){
                                    $.get(
                                        path,
                                        function(data, status) {
                                            var result = data;
                                            console.log(result);

                                            if (result.code === 400) {
                                                $.alert({
                                                    type: 'red',
                                                    typeAnimated: true,
                                                    title: 'No se puede eliminar',
                                                    content: '<h6>' + result.error + '</h6>'
                                                });
                                            } else {
                                                $('.row-' + id).remove();
                                            }
                                        }
                                    );
                                }
                            },
                            cancel: {
                                text: 'Cancelar'
                            }
                        }
                    });
                });

                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $(".dropdown-menu li").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $('ul.dropdown-menu li').click(function(e)
                {
                    let id = $(this).find('a').data('id');
                    $('#user').val(id);
                    $('.dropdown-toggle').html($(this).find("a").text())
                    $('#form-referrals').submit();
                });

                $("#search-user").on("keyup", function() {
                    let value = $(this).val().toLowerCase();

                    $("#referrals tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            ul.dropdown-menu li {
                padding: 1px;
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: @line-height-base;
                color: @dropdown-link-color;
                white-space: nowrap; // prevent links from randomly breaking onto new lines
            }

            #myInput {
                padding: 20px;
                margin-top: -6px;
                border: 0;
                border-radius: 0;
                background: #f1f1f1;
            }
        </style>
    {% endblock %}
