<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Company Name</label>
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for=""># of Employees</label>
            {{ form_widget(form.employees) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Address</label>
            {{ form_widget(form.address) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">City</label>
            {{ form_widget(form.city) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">State</label>
            {{ form_widget(form.state) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">ZIP</label>
            {{ form_widget(form.zip) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact First Name</label>
            {{ form_widget(form.contactFirstName) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Last Name</label>
            {{ form_widget(form.contactLastName) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Title</label>
            {{ form_widget(form.contactTitle) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Preferred Contact Method</label>
            {{ form_widget(form.contactPreferredMethodContact) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Phone</label>
            {{ form_widget(form.contactPhone) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Email</label>
            {{ form_widget(form.contactEmail) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Customer Type</label>
            {{ form_widget(form.customerType) }}
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row" style="display: none">
    <div class="col-md-6">
        <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
                {{ form_widget(form.permissionCall) }}
                <label class="custom-control-label" for="prospect_permissionCall">Has Customer given permission to call?</label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
                {{ form_widget(form.callBefore) }}
                <label class="custom-control-label" for="prospect_callBefore">Please call me before contacting customer</label>
            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-6">
        <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
                {{ form_widget(form.alarmReferral) }}
                <label class="custom-control-label" for="prospect_alarmReferral">Alarm Referral</label>
            </div>
        </div>
    </div>
</div>

<div class="row" id="alarm-check" {% if prospect is defined and prospect.alarmReferral %} style="display: inline-flex;" {% else %} style="display: none;" {% endif %}>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Date of Birth</label>
            {{ form_widget(form.dateOfBirth) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Last 4 Digits Social Security:</label>
            {{ form_widget(form.socialSecurity) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">How many doors</label>
            {{ form_widget(form.doors) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">How many windows</label>
            {{ form_widget(form.windows) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_widget(form.notes) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Attachment file (optional)</label>
            {{ form_widget(form.attachment) }}
            <small class="text-default">Add copy of Lease Agreement, or copy of client's business card, or a copy of current bill. (Optional)</small>

            {% if prospect is defined %}
                {% if attachment %}
                    <a target="_blank" href="{{ asset('uploads/referrals/' ~ attachment) }}">View Attachment File</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>