{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Edit Referral #{{ prospect.id }}</h1>
                <div class="avatar-group mt-3"></div>
            </div>

            <form action="{{ path('app_referral_edit', { 'id': prospect.id }) }}" method="post" enctype="multipart/form-data">

                {{ include('@App/referral/_form.html.twig') }}

                <input type="hidden" name="attachment-current" value="{{ attachment }}">
                <button type="submit" class="btn btn-primary btn-lg">Update</button>
                <a href="javascript:history.back();" class="btn btn-secondary btn-lg">Back to list</a>
            </form>
        </main>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }
        </style>
    {% endblock %}


    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript">
            $(document).ready(function() {
                $('#prospect_alarmReferral').click(function(){
                    if($(this).prop("checked") === true){
                        $('#alarm-check').show();
                    }
                    else if($(this).prop("checked") === false){
                        $('#alarm-check').hide();
                    }
                });
            });
        </script>
    {% endblock %}
