{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Referral Report</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>

            <table class="table table-hover table-sm" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Business Name</th>
{#                    <th>Business Services Sales Rep</th>#}
                    <th>Date created</th>
                    <th>Status</th>
                    <th>Order ID</th>
{#                    <th>Sub ID</th>#}
{#                    <th>Sold Date</th>#}
{#                    <th>Connect Date</th>#}
                    <th>Referral Payout Status</th>
                    <th>Payout Amount</th>
{#                    <th>Finance Reason</th>#}
{#                    <th>Processed Date</th>#}
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in list  %}
                        <tr>
                            <td><a href="{{ path('app_referral_edit', { 'id': item.id }) }}">{{ item.id|pad }}</a></td>
{#                            <td>{{ app.user.email }}</td>#}
                            <td>{{ item.name }} {{ item.city }} {{ item.state }}</td>
                            <td>{{ item.createdAt|date }}</td>
                            <td>{{ item.status|referral_status }}</td>
                            <td>{{ item.orderId }}</td>
                            <td>{{ item.payoutStatus ? item.payoutStatus|referral_status : '' }}</td>
                            <td>{{ item.payoutAmount|number_format(2, '.', ',') }}</td>
                            <td>
                                {% if item.contractAttachment %}
                                    <a title="View Order Info" style="padding-top: 10px" target="_blank" href="{{ asset('uploads/referrals/' ~ item.contractAttachment) }}">
                                        <i class="fa fa-file"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        </main>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }
        </style>
    {% endblock %}
