{% set fieldAccount = 'hidden' %}
{% if bankInformation is defined %}
    {% if bankInformation.typeMethod == 'deposit' %}
        {% set fieldAccount = '' %}
    {% endif %}
{% endif %}
<form class="needs-validation" novalidate method="post" action="{{ path('admin_user_update_information_bank') }}" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer013">Payment Method</label>
            {{ form_widget(formBankInformation.typeMethod) }}
            <div class="invalid-feedback">
                You first name is mandatory
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label id="info_one">Confirm address to send check</label>
            {{ form_widget(formBankInformation.informationOne) }}
            <div class="invalid-feedback">
                This field is mandatory
            </div>
        </div>
        <div class="col-md-4 mb-3 {{ fieldAccount }}" id="field-account-number">
            <label id="info_two">Account Number</label>
            {{ form_widget(formBankInformation.informationTwo) }}
            <div class="invalid-feedback">
                This field is mandatory
            </div>
        </div>
        <div class="col-md-4 mb-3"></div>
        <div class="col-md-8 mb-3 {{ fieldAccount }}" id="field-account-bank-name">
            <label id="info_three">Bank Name</label>
            {{ form_widget(formBankInformation.informationThree) }}
            <div class="invalid-feedback">
                This field is mandatory
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="{{ user.id }}">
    <button class="btn btn-primary btn-lg" name="save-info-bank" type="submit">Save Bank Information</button>
</form>