<div class="row">
    <div class="col-md-6">
        <div class="form-group ">
            <input type="text" name="company" value="{{ user.company }}" class="form-control is-valid" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
{#        has-success#}
        <div class="form-group ">
            <label for="">First name</label>
            <input type="text" name="firstName" value="{{ user.firstName }}" placeholder="First name" class="form-control is-valid" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Last name</label>
            <input type="text" name="lastName" value="{{ user.lastName }}" placeholder="Last mame" class="form-control is-valid" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="email" value="{{ user.email }}" placeholder="Email" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" name="address" value="{{ user.address }}" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">City</label>
            <input type="text" name="city" value="{{ user.city }}" placeholder="City" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">State</label>
            <input type="text" name="state" value="{{ user.state }}" placeholder="State" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">ZIP</label>
            <input type="text" name="zip" value="{{ user.zip }}" placeholder="Zip" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" value="{{ user.phone }}" placeholder="Phone" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Preference</label>
            <select name="contactPreference" class="form-control">
                <option value="phone" {% if user.contactPreference == 'phone' %} selected {% endif %}>Phone</option>
                <option value="email" {% if user.contactPreference == 'email' %} selected {% endif %}>Email</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <label class="switch">
                <input id="is-active" type="checkbox" {% if user.isEnabled %} checked {% endif %}>
                <span class="slider round"></span>
            </label>
            <div id="console-event"></div>
        </div>
    </div>

</div>