{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Users</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <a href="{{ path('admin_user_list', { 'export' : true }) }}" class="btn btn-sm btn-info"><i class="fa fa-file-excel-o"></i> Export</a>
                </div>
                <div class="col-md-6">
                    <input class="form-control-sm" style="width: 80%" id="search-user" type="text" placeholder="Search">
                </div>
            </div>

            <table id="referrals" class="table table-hover table-sm" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for item in list  %}
                        <tr class="row-{{ item.id }}">
                            <td><a href="{{ path('admin_user_view', { 'id': item.id }) }}">{{ item.id }}</a></td>
                            <td><a href="{{ path('admin_user_view', { 'id': item.id }) }}">{{ item.fullName }}</a></td>
                            <td>{{ item.company }}</td>
                            <td>{{ item.email }}</td>
                            <td>
                                {% if item.isEnabled %}
                                    <i class="ni ni-check-bold text-success"></i>
                                {% else %}
                                    <i class="ni ni-button-pause text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_user_view', { 'id': item.id }) }}"><i class="fa fa-edit"></i></a>
                                <a href="javascript:void(0)" href="#" data-path="{{ path('admin_user_delete', { 'id': item.id }) }}" data-id="{{ item.id }}" class="remove-list text-danger"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

        <script>
            $(document).ready(function(){
                $("#search-user").on("keyup", function() {
                    let value = $(this).val().toLowerCase();

                    $("#referrals tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $('.remove-list').on('click', function () {
                    var id = $( this ).data('id');
                    var path = $( this ).data('path');

                    $.confirm({
                        theme: 'modern',
                        closeIcon: true,
                        animation: 'scale',
                        type: 'blue',
                        title: 'Delete',
                        content: 'Confirm that you want to delete the user?',
                        buttons: {
                            confirm: {
                                text: 'Sí, Eliminar',
                                btnClass: 'btn-red',
                                action: function(){
                                    $.get(
                                        path,
                                        function(data, status) {
                                            var result = data;
                                            console.log(result);

                                            if (result.code === 400) {
                                                $.alert({
                                                    type: 'red',
                                                    typeAnimated: true,
                                                    title: 'Cannot be deleted',
                                                    content: '<h6>' + result.error + '</h6>'
                                                });
                                            } else {
                                                $('.row-' + id).remove();
                                            }
                                        }
                                    );
                                }
                            },
                            cancel: {
                                text: 'Cancel'
                            }
                        }
                    });
                });
            });
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }
        </style>
    {% endblock %}
