{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
            {{ include('_flash_messages.html.twig') }}

            <div class="ct-page-title">
                <a href="{{ path('admin_user_list') }}" class="btn btn-info btn-sm pull-right">Back to list</a>
                <h1 class="ct-title" id="content">Profile Information</h1>

                <div class="avatar-group mt-3">
                </div>
            </div>

            <form action="{{ path('admin_user_update') }}" method="post">

                {{ include('@App/admin/user/_form.html.twig') }}

                <input type="hidden" name="id" value="{{ user.id }}">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>

            <div class="ct-page-title" style="margin-top: 40px;">
                <h1 class="ct-title" id="content">Earnings</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>

            <i class="ni ni-bold-right"></i>
            Current Month Earnings* ({{ "now"|date('m')|month }}): $ {{ earned.month|number_format(2, '.', ',') }}<br>
            <i class="ni ni-bold-right"></i>
            Previous Month Earnings* ({{ previousMonth|month }}): $ {{ earned.previousMonth|number_format(2, '.', ',') }} <br>
            <i class="ni ni-bold-right"></i> Total Earnings Year to Date: ${{ earned.earnedYear|number_format(2, '.', ',') }}<br>

            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Referral Snapshot</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>

            <i class="ni ni-bold-right"></i> Submitted: {{ status.submitted }}<br>
            <i class="ni ni-bold-right"></i> Closed Won: {{ status.closed }}<br>
            <i class="ni ni-bold-right"></i> Paid: {{ status.paid }}<br>

            <div class="ct-page-title" style="margin-top: 50px;">
                <h1 class="ct-title" id="content">Bank Account Information</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>


                {{ include('@App/admin/user/_form_bank.html.twig') }}


                {% if bankInformation %}
{#                    <div class="col-md-4">#}
{#                        <div class="form-group">#}
{#                            <label>Payment Method</label>#}
{#                            <div class="form-control">#}
{#                                {{ bankInformation.typeMethod|payment_method }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% set titleOne = 'Address to send check' %}#}
{#                    {% set col = '6' %}#}
{#                    {% if bankInformation.typeMethod == 'check' %}#}
{#                        {% set titleOne = 'Routing Number' %}#}
{#                        {% set col = '4' %}#}
{#                    {% endif %}#}
{#                    <div class="col-md-{{ col }}">#}
{#                        <label>{{ titleOne }}</label>#}
{#                        <div class="form-control">#}
{#                            {{ bankInformation.informationOne }}#}
{#                        </div>#}
{#                    </div>#}

{#                    {% if bankInformation.typeMethod == 'deposit' %}#}
{#                        <div class="col-md-4">#}
{#                            <label>Account Number</label>#}
{#                            <div class="form-control">#}
{#                                {{ bankInformation.informationTwo }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                            <label>Bank Name</label>#}
{#                            <div class="form-control">#}
{#                                {{ bankInformation.informationThree }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
                {% else %}
                    <h6 class="text-danger ml-4">The user has not updated their bank information</h6>
                {% endif %}

        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script type="application/javascript">
            (function() {
                'use strict';
                $('#app_user_bank_information_typeMethod').change( function () {
                    let value = $(this).val();
                    if ( value === 'deposit' ) {
                        $('#field-account-number').removeClass('hidden');
                        $('#field-account-bank-name').removeClass('hidden');
                        $('#info_one').text('Routing number');
                    } else {
                        $('#field-account-number').addClass('hidden');
                        $('#field-account-bank-name').addClass('hidden');
                        $('#info_one').text('Confirm address to send check');
                    }
                })
            })();
        </script>

        <script>
            $(function() {
                $('#is-active').change(function() {
                    let message ;
                    if ( $(this).prop('checked') === true ) {
                        //change status user
                        message = 'User is enabled';
                    } else {
                        message = 'User is disabled';
                    }

                    $.ajax({
                        url: "{{ path('admin_user_change_status', { 'id': user.id }) }}",
                        method: "GET",
                        beforeSend: function() {

                        }
                    })
                    .done(function( data ) {
                        $('#console-event').html(message);
                    });
                })
            })
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            input:checked + .slider {
                background-color: #66bb6a;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked + .slider {
                background-color: #2dce89;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2dce89;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }
        </style>
    {% endblock %}
