{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1">

        </div>
        <div class="container">
            {{ include('_flash_messages.html.twig') }}
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <img class="logo" src="{{ asset('assets/img/logo.png') }}" >
                        <div class="card-body bg-white px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <h4>Recover password</h4>
                                We will send you a link to your email so you can change the password!
                            </div>

                            <form action="{{ path('app_password_recovery_one') }}" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Send</button>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 text-right p-0 text-center">
                                        <a href="{{ path('login') }}" class="btn btn-sm btn-outline-default ">Sign In</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        img.logo {
            width: 295px;
            text-align: center;
            margin: auto;
            padding: 19px;
        }

        .bg-secondary {
            background-color: #FFFFFF !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666666 !important;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #666666 !important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #666666 !important;
        }

        .custom-control-alternative .custom-control-label::before {
            border: 1px solid #CCCCCC;
        }
    </style>
{% endblock %}
