{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block top_content %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function(){

            {% if code is defined and code == 200 %}
                setTimeout(function(){
                    window.location.href = "{{ path('login') }}";
                }, 2000);
            {% endif %}

            $('.btn-password').click(function(e){

                if ( $('#new_password').val() === "" || $('#new_password').val() === undefined){
                    alert("The password field cannot be empty");
                    $('#new_password').focus();
                    e.preventDefault();
                    return false;
                }

                if($('#confirm_password').val() === "" || $('#confirm_password').val() === undefined){
                    alert("Please confirm your new password.");
                    $('#confirm_password').focus();
                    e.preventDefault();
                    return false;
                }

                if($('#new_password').val() !== $('#confirm_password').val()){
                    alert("Passwords do not match");
                    $('#confirm_password').focus();
                    e.preventDefault();
                    return false;
                }

            });
        });
    </script>
{% endblock %}

{% block body %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1">

        </div>
        <div class="container">
            {{ include('_flash_messages.html.twig') }}
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <img class="logo" src="{{ asset('assets/img/logo.png') }}" >
                        <div class="card-body bg-white px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <h4>Reset my password</h4>
                            </div>

                            <form action="{{ path('app_password_update_proccess', { 'user_id': app.request.get('user_id') }) }}" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn-password btn btn-primary my-4">Update</button>
                                </div>
{#                                <div class="row mt-3">#}
{#                                    <div class="col-12 text-right p-0 text-center">#}
{#                                        <a href="{{ path('login') }}" class="btn btn-sm btn-outline-default ">Sign In</a>#}
{#                                    </div>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        img.logo {
            width: 295px;
            text-align: center;
            margin: auto;
            padding: 19px;
        }

        .bg-secondary {
            background-color: #FFFFFF !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666666 !important;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #666666 !important;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #666666 !important;
        }

        .custom-control-alternative .custom-control-label::before {
            border: 1px solid #CCCCCC;
        }
    </style>
{% endblock %}
