<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Company Name</label>
            {{ prospect.name }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for=""># of Employees</label>
            {{ prospect.employees }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Address</label>
            {{ prospect.address }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">City</label>
            {{ prospect.city }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">State</label>
            {{ prospect.state }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">ZIP</label>
            {{ prospect.zip }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact First Name</label>
            {{ prospect.contactFirstName }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Last Name</label>
            {{ prospect.contactLastName }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Title</label>
            {{ prospect.contactTitle }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Preferred Contact Method</label>
            {{ prospect.contactPreferredMethodContact }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Phone</label>
            {{ prospect.contactPhone }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact Email</label>
            {{ prospect.contactEmail }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Customer Type</label>
            {{ prospect.customerType }}
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Has Customer given permission to call?</label>
            {% if prospect.permissionCall %}
                <i class="ni ni-check-bold"></i>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Please call me before contacting customer</label>
            {% if prospect.callBefore %}
                <i class="ni ni-check-bold"></i>
            {% endif %}
        </div>
    </div>
</div>

{% if prospect.alarmReferral %}
    <h5>Alarm Referral</h5>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label>Date of Birth</label>
                {{ prospect.dateOfBirth }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Last 4 Digits Social Security</label>
                {{  prospect.socialSecurity }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>How many doors</label>
                {{ prospect.doors }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>How many windows</label>
                {{  prospect.windows }}

            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Notes</label>
            <br>
            {{ prospect.notes }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Attachment</label>
            <br>
            {% if prospect is defined %}
                {% if prospect.attachment %}
                    <a target="_blank" href="{{ asset('uploads/referrals/' ~ prospect.attachment) }}">View Attachment File</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>