{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Referral Report</h1>
                <div class="avatar-group mt-3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-7">
                    <form id="form-referrals" action="{{ path('admin_referral_list') }}" method="post">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-neutral dropdown-toggle fl-user" type="button" data-toggle="dropdown">Filter by user
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <li><a href="#"  data-type="user" data-id="all">All users </a></li>
                                {% for user in users %}
                                    <li><a href="#" data-type="user" data-id="{{ user.id }}">{{ user.getFullName }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-sm btn-neutral dropdown-toggle fl-status" type="button" data-toggle="dropdown">
                                {% if app.request.get('status-filter') and app.request.get('status-filter') != 'all' %}
                                    {{ status[app.request.get('status-filter')] }}
                                {% else %}
                                    Filter by Status
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-type="status" data-id="all">All Status </a></li>
                                {% for kst, st in status %}
                                    <li><a href="#" data-type="status" data-id="{{ kst }}">{{ st }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-neutral dropdown-toggle fl-payment-status" type="button" data-toggle="dropdown">
                                {% if app.request.get('payment-status-filter')  and app.request.get('payment-status-filter') != 'all' %}
                                    {{ statusPayment[app.request.get('payment-status-filter')] }}
                                {% else %}
                                    Filter by Payment
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-type="payment" data-id="all">All Payment Status </a></li>
                                {% for ksp, stp in statusPayment %}
                                    <li><a href="#" data-type="payment" data-id="{{ ksp }}">{{ stp }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-sm btn-default">Filter</button>
                        <button type="submit" name="export" value="1" class="btn btn-sm btn-info"><i class="fa fa-file-excel-o"></i> Export</button>
                        <input type="hidden" name="user-filter" id="user" value="{{ app.request.get('user-filter') }}">
                        <input type="hidden" name="status-filter" id="status-filter" value="{{ app.request.get('status-filter') }}">
                        <input type="hidden" name="payment-status-filter" id="payment-status-filter" value="{{ app.request.get('payment-status-filter') }}">
                    </form>
                </div>

                <div class="col-5">
                    <input class="form-control form-control-sm" id="search-user" type="text" placeholder="Search">
                </div>
            </div>

            <table id="referrals" class="table table-hover table-sm" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Submitter</th>
                    <th>Business Name</th>
                    {#                    <th>Business Services Sales Rep</th>#}
                    <th>Date created</th>
                    <th>Status</th>
                    <th>Order ID</th>
                    {#                    <th>Sub ID</th>#}
                    {#                    <th>Sold Date</th>#}
                    {#                    <th>Connect Date</th>#}
                    <th>Payout Status</th>
                    <th>MRC</th>
                    <th>Residual Percent</th>
                    {#                    <th>Processed Date</th>#}
                    {#                    <th>Trace Number</th>#}
                    <th style="width: 7%"></th>
                    <th style="width: 8%"></th>
                </tr>
                </thead>
                <tbody>
                    {% for item in list  %}
                        <tr class="row-{{ item.id }}">
                            <td>
                                <a style="font-size: 13px;" href="{{ path('admin_referral_view', { 'id': item.id }) }}">
                                    {{ item.id|pad }}
                                </a>
                            </td>
                            <td>{{ item.user_firstName ~ ' ' ~ item.user_lastName }}</td>
                            <td>{{ item.company }} {{ item.city }} {{ item.state }}</td>
                            <td>{{ item.createdAt|date }}</td>
                            <td>{{ item.status|referral_status }}</td>
                            <td>{{ item.orderId }}</td>
                            <td>{{ item.payout_status ? item.payout_status|referral_status : '' }}</td>
                            <td>{{ item.mrc|number_format(2, '.', ',') }}</td>
                            <td>{{ item.residualPercent ? item.residualPercent ~ '%' : '' }}</td>
                            <td>
                                {% if item.status == 'closed' %}
                                    <a href="{{ path('admin_referral_make_action', { 'id': item.id, 'action': 'order' }) }}"><i class="fa fa-address-card"></i></a>
                                {% endif %}

                                {% if item.payout_status == 'paid' %}
                                    <a class="text-success" href="{{ path('admin_referral_payment_list', { 'id': item.id }) }}"><i class="fa fa-money"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <a style="font-size: 15px; margin-right: 5px;" href="{{ path('admin_referral_view', { 'id': item.id }) }}">
                                    <i class="fa fa-eye text-info"></i>
                                </a>
                                <a href="{{ path('app_referral_edit', { 'id': item.id }) }}"><i class="fa fa-edit text-success"></i></a>
                                <a href="javascript:void(0)" href="#" data-path="{{ path('admin_referral_delete', { 'id': item.id }) }}" data-id="{{ item.id }}" class="remove-list text-danger"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $(".dropdown-menu li").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $('ul.dropdown-menu li').click(function(e)
                {
                    let id = $(this).find('a').data('id');
                    let type = $(this).find('a').data('type');

                    if ( type == 'user' ) {
                        $('#user').val(id);
                        $('.fl-user').html($(this).find("a").text())
                    }

                    if ( type == 'status' ) {
                        $('#status-filter').val(id);
                        $('.fl-status').html($(this).find("a").text())
                    }

                    if ( type == 'payment' ) {
                        $('#payment-status-filter').val(id);
                        $('.fl-payment-status').html($(this).find("a").text())
                    }

                    // $('#form-referrals').submit();
                });

                $("#search-user").on("keyup", function() {
                    let value = $(this).val().toLowerCase();

                    $("#referrals tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $('.remove-list').on('click', function () {
                    var id = $( this ).data('id');
                    var path = $( this ).data('path');

                    $.confirm({
                        theme: 'modern',
                        closeIcon: true,
                        animation: 'scale',
                        type: 'blue',
                        title: 'Eliminar',
                        content: 'Are you sure you want to delete the leaflet?',
                        buttons: {
                            confirm: {
                                text: 'Yes, deleted',
                                btnClass: 'btn-red',
                                action: function(){
                                    $.get(
                                        path,
                                        function(data, status) {
                                            var result = data;
                                            console.log(result);

                                            if (result.code === 400) {
                                                $.alert({
                                                    type: 'red',
                                                    typeAnimated: true,
                                                    title: 'Cannot be deleted',
                                                    content: '<h6>' + result.error + '</h6>'
                                                });
                                            } else {
                                                $('.row-' + id).remove();
                                            }
                                        }
                                    );
                                }
                            },
                            cancel: {
                                text: 'Cancelar'
                            }
                        }
                    });
                });
            });
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            ul.dropdown-menu li {
                padding: 1px;
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: @line-height-base;
                color: @dropdown-link-color;
                white-space: nowrap; // prevent links from randomly breaking onto new lines
            }

            #myInput {
                padding: 20px;
                margin-top: -6px;
                border: 0;
                border-radius: 0;
                background: #f1f1f1;
            }
        </style>
    {% endblock %}
