{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content"> Referral #{{ prospect.id|pad }}</h1>
                <span class="badge badge-pill badge-success badge-lg">{{ prospect.status|referral_status }}</span>

                <div class="avatar-group mt-3"></div>
            </div>
            <h5>
                Submitter:
                <big class="text-muted">{{ prospect.user.fullName }}</big>
            </h5>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Order Number</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for=""># of Employees</label>
{#                        {{ form_widget(form.employees) }}#}
                    </div>
                </div>
            </div>
{#            {{ include('@App/admin/referral/_sheet.html.twig') }}#}



        </main>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            label {
                font-weight: 700;
            }
        </style>
    {% endblock %}
