{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
            <div class="ct-page-title">
                <h1 class="ct-title" id="content"> Referral #{{ prospect.id|pad }}</h1>
                <span>Status Referral: </span><span class="badge badge-pill badge-default">{{ prospect.status|referral_status }}</span>
                &nbsp; | &nbsp;
                <span>Status Order:  </span><span class="badge badge-pill badge-default">{{ prospect.payoutStatus ? prospect.payoutStatus : '' }}</span>

                <div class="avatar-group mt-3"></div>
            </div>
            <h5>
                Referral Information
                <small class="text-muted"></small>
            </h5>
            <br>
            <h6><strong>Submitter:</strong> {{ prospect.user.fullName }}</h6>
            <br>
            {{ include('@App/admin/referral/_sheet.html.twig') }}

            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i>Change Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>History</a>
                    </li>
                    {% if prospect.status == 'closed' %}
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Order</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <form action="{{ path('admin_referral_view', { 'id': prospect.id }) }}" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">New Status</label>
                                            <select name="status" id="" class="form-control" required>
                                                <option value="">...</option>
                                                {% for k,st in status %}
                                                    <option value="{{ k }}">{{ st }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Observations</label>
                                            <textarea required name="message" id="message" class="form-control" cols="30"
                                                      rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                {#                {{ include('@App/referral/_form.html.twig') }}#}
                                <button type="submit" class="btn btn-primary btn-lg">Update</button>
                                <a href="{{ path('admin_referral_list') }}" class="btn btn-secondary btn-lg">Back to list</a>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                            <ul>
                            {% for item in history %}
                                <li>
                                    <strong>{{ item.status|referral_status }}</strong><br>
                                    Date:{{ item.createdAt|date }}<br>
                                    {{ item.note }}
                                    <hr>

                                </li>
                            {% endfor %}
                            </ul>
                        </div>

                        {% if prospect.status == 'closed' %}
                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                            <form action="{{ path('admin_referral_order', { 'id': prospect.id }) }}" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Order Number</label>
                                            <input type="text" class="form-control" name="order-id" id="order-id" value="{{ prospect.orderId }}" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Order Status
                                            <span class="font-weight-light">(Current Status Order:  </span><span class="text-break">{{ prospect.payoutStatus ? prospect.payoutStatus|referral_status : '' }})</span>
                                            </label>
                                            <select name="status-payment" id="" class="form-control" required>
                                                <option value="">...</option>
                                                {% for k,st in statusPayment %}
                                                    {% set selectStatusPay = '' %}
                                                    {% if k == prospect.payoutStatus %}
                                                        {% set selectStatusPay = 'selected' %}
                                                    {% endif %}
                                                    <option {{ selectStatusPay }} value="{{ k }}">{{ st }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">MRC</label>
                                            <input type="text" class="form-control" name="mrc" id="mrc" value="{{ prospect.mrc }}" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Residual Percent</label>
                                            <input type="text" class="form-control" name="residual-percent" id="residual-percent" value="{{ prospect.residualPercent }}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Attachment Order</label>
                                            <input type="file" class="form-control" name="attach-order" id="attach-order"  />
                                        </div>
                                        {% if prospect.contractAttachment %}
                                            <a style="padding-top: 10px" target="_blank" href="{{ asset('uploads/referrals/' ~ prospect.contractAttachment) }}">View Attachment</a>
                                            <br>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Residual Payment</label>
                                            <input type="text" value="{{ prospect.payoutAmount }}" class="form-control" name="residual-payment"   />
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <button type="submit" class="btn btn-primary btn-lg">Update Order</button>
                                <a href="{{ path('admin_referral_list') }}" class="btn btn-secondary btn-lg">Back to list</a>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

            label {
                font-weight: 700;
            }
        </style>
    {% endblock %}
