{% extends 'base.html.twig' %}
{% set class_main = 'profile-page' %}

{% block top_content %}
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-default">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--400">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    {% if photo %}
                                        {% set path = '/uploads/users/' ~ photo %}
                                    {% else %}
                                        {% set path = '/assets/img/no_photo.png' %}
                                    {% endif %}
                                    <img src="{{ path }}" class="rounded-circle" alt="image">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a href="{{ path('app_referral_new') }}" class="btn btn-sm btn-info float-right">
                                    <i class="fa fa-plus-circle mr-2"></i> Create a new referral
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-center">
{#                                <div>#}
{#                                    <span class="heading">22</span>#}
{#                                    <span class="description">Friends</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <span class="heading">10</span>#}
{#                                    <span class="description">Photos</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <span class="heading">89</span>#}
{#                                    <span class="description">Comments</span>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <h3>
                                    Profile Information
                                    <div>{{ form_errors(form) }}</div>

                                    {{ include('_flash_messages.html.twig') }}
{#                                    <small class="text-muted">Method of Payment option</small>#}
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
{#                        <h3>Jessica Jones<span class="font-weight-light">, 27</span></h3>#}
                        <br>
                        <form class="needs-validation" novalidate method="post" action="{{ path('profile_index') }}" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer013">Company name</label>
                                    {{ form_widget(form.companyName) }}
                                    <div class="invalid-feedback">
                                        You first name is mandatory
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer013">First name</label>
                                    {{ form_widget(form.firstName) }}
                                    <div class="invalid-feedback">
                                        You first name is mandatory
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer023">Last name</label>
                                    {{ form_widget(form.lastName) }}
                                    <div class="invalid-feedback">
                                        You last name is mandatory
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="email_">Email</label>
                                    {{ form_widget(form.email) }}
                                    <div class="invalid-feedback">
                                        You email is mandatory
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer033">Address</label>
                                    {{ form_widget(form.address) }}
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer033">City</label>
                                    {{ form_widget(form.city) }}
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer043">State</label>
                                    {{ form_widget(form.state) }}
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer053">Zip</label>
                                    {{ form_widget(form.zip) }}
                                    <div class="invalid-feedback">
                                        Please provide a valid zip.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="">Phone</label>
                                    {{ form_widget(form.phone) }}
                                    <div class="invalid-feedback">
                                        Please provide a valid phone.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">Contact Preference</label>
                                    {{ form_widget(form.contactPreference) }}
                                    <div class="invalid-feedback">
                                        Please select contact preference.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">Photo</label>
                                    {{ form_widget(form.photo) }}
                                    {{ form_errors(form.photo) }}
                                </div>
                            </div>
                            <input type="hidden" name="current-photo" value="{{ photo }}">
                            <button class="btn btn-primary btn-lg" name="save-info-profile" value="1" type="submit">Save Profile</button>
                            <a class="btn btn-default btn-lg" href="{{ path('app_home') }}" >Back to home</a>
                        </form>
                    </div>
                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <h3>
                                    Payment Method
                                    <small class="text-muted">Method of Payment option</small>
                                </h3>
                            </div>
                        </div>
                        {% set fieldAccount = 'hidden' %}
                        {% if bankInformation is defined %}
                            {% if bankInformation.typeMethod == 'deposit' %}
                                {% set fieldAccount = '' %}
                            {% endif %}
                        {% endif %}
                        <form class="needs-validation" novalidate method="post" action="{{ path('profile_index') }}" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer013">Payment Method</label>
                                    {{ form_widget(formBankInformation.typeMethod) }}
                                    <div class="invalid-feedback">
                                        You first name is mandatory
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label id="info_one">Confirm address to send check</label>
                                    {{ form_widget(formBankInformation.informationOne) }}
                                    <div class="invalid-feedback">
                                        This field is mandatory
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3 {{ fieldAccount }}" id="field-account-number">
                                    <label id="info_two">Account Number</label>
                                    {{ form_widget(formBankInformation.informationTwo) }}
                                    <div class="invalid-feedback">
                                        This field is mandatory
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3"></div>
                                <div class="col-md-8 mb-3 {{ fieldAccount }}" id="field-account-bank-name">
                                    <label id="info_three">Bank Name</label>
                                    {{ form_widget(formBankInformation.informationThree) }}
                                    <div class="invalid-feedback">
                                        This field is mandatory
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="current-photo" value="{{ photo }}">
                            <button class="btn btn-primary btn-lg" name="save-info-bank" type="submit">Save Bank Information</button>
                            <a class="btn btn-default btn-lg" href="{{ path('app_home') }}" >Back to home</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        (function() {
            'use strict';
            window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            $('#app_user_bank_information_typeMethod').change( function () {
                let value = $(this).val();
                if ( value === 'deposit' ) {
                    $('#field-account-number').removeClass('hidden');
                    $('#field-account-bank-name').removeClass('hidden');
                    $('#info_one').text('Routing number');
                } else {
                    $('#field-account-number').addClass('hidden');
                    $('#field-account-bank-name').addClass('hidden');
                    $('#info_one').text('Confirm address to send check');
                }
            })
        })();
    </script>
{% endblock %}