{% extends 'base.html.twig' %}

{% block header %}
    {{ include('@App/global/_header_logged.html.twig') }}
{% endblock %}
{% block top_content %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        {{ include('@App/global/_menu.html.twig') }}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 ct-content" role="main">
            {{ include('_flash_messages.html.twig') }}
            <div class="ct-page-title">
                <h1 class="ct-title" id="content">My Payments</h1>
                <div class="avatar-group mt-3"></div>
            </div>


            <table id="referrals" class="table table-hover table-sm" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Referral #</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date Payment</th>
                    <th>Payment Reference</th>
                </tr>
                </thead>
                <tbody>
                {% set totalWing = 0 %}
                {% set totalPending = 0 %}
                {% for pay in payments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ pay.prospect.id|pad }}</td>
                        <td>{{ pay.year }}</td>
                        <td>{{ pay.month }}</td>
                        <td>$ {{ pay.amount|number_format(2, '.', ',') }}</td>
                        <td>
                            {% if pay.status %}
                                {% set totalWing = totalWing + pay.amount %}
                                <span class="badge badge-success">PAID</span>
                            {% else %}
                                {% set totalPending = totalPending + pay.amount %}
                                <span class="badge badge-danger">PENDING</span>
                            {% endif %}
                        </td>
                        <td>{{ pay.createdAt|date }}</td>
                        <td>{{ pay.controlReference }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center">
                            <span class="text-danger">The user has no registered payments yet</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tr>
                    <td colspan="4" align="right"> <span class="font-weight-700">Total Pending</span> </td>
                    <td>
                        ${{ totalPending|number_format(2, '.', ',') }}
                    </td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="4" align="right"> <span class="font-weight-700">Total Earned</span> </td>
                    <td>
                        ${{ totalWing|number_format(2, '.', ',') }}
                    </td>
                    <td colspan="3"></td>
                </tr>
            </table>
        </main>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            $(document).ready(function() {
            });
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" href="{{ asset('assets/css/docs.min.css') }}" rel="stylesheet">

        <style>
            main {
                overflow: initial;
            }

        </style>
    {% endblock %}
