
<h3>Dear Administrator,</h3>
<p>A new referral has been added to www.itgresiduals.com from {{ user }}</p>

Business Name: {{ referral.name }} <br>
Address: {{ referral.address }} <br>
State: {{ referral.state }} <br>
City: {{ referral.city }} <br>
ZIP: {{ referral.zip }}

Contact Name: {{ referral.contactFirstName ~ ' ' ~ referral.contactLastName }}<br>
Telephone: {{ referral.contactPhone }} <br>
Email: {{ referral.contactEmail }} <br>
Notes: {{ referral.notes }} <br>

{% if referral.alarmReferral %}
    <hr>
    <h4>Alarm Referral</h4>
    Date of Birth: {{ referral.dateOfBirth }} <br>
    Last 4 Digits Social Security: {{ referral.socialSecurity }} <br>
    How many doors: {{ referral.doors }} <br>
    How many windows: {{ referral.windows }} <br>
{% endif %}

Please log to your admin panel and review the same. <br>
{{ include('@App/Emails/_footer.html.twig') }}
