
<h3>Dear {{ referral.user.firstName }},</h3>
<p>
    Congratulations, {{ referral.name }} has been acquired and its pending installation. <br>
    We will notify you once your account is ready for residual payments. <br>
    The process may take 60 to 90 days depending when the customer makes their first payment. <br>
    If you have any questions, please feel free to email us at <br>
    <a href="mailto:questions@inteltechnologygroup.com">questions@inteltechnologygroup.com</a> <br>
</p>
<p>
    We look forward to working with you and building your passive income future for all your
    referrals.
</p>

{{ include('@App/Emails/_footer.html.twig') }}
