
<h3>Dear {{ referral.user.firstName }},</h3>
<p>
    Congratulations, <b>{{ referral.name }}</b> has been paid for the month of June in the amount of
    ${{ amount }} for your monthly residual commission. <br>
    If you have any questions, please feel free to email us at <a href="mailto:questions@inteltechnologygroup.com">questions@inteltechnologygroup.com</a>
</p>
<p>
    We look forward to working with you and building your passive income future for all your
    referrals.
</p>

{{ include('@App/Emails/_footer.html.twig') }}
