<h3>Dear Administrator,</h3>

<p>A new user has registered to <a href="www.itgresiduals.com">www.itgresiduals.com</a></p>

<hr >
Company Name: {{ user.companyName ? user.companyName : 'Individual' }}<br>
Contact Name: {{ user.fullName ~ ' ' ~ user.lastName }}<br>
Address: {{ user.address }} <br>
City: {{ user.city }} <br>
ZIP: {{ user.zip }} <br>
Telephone: {{ user.phone }}<br>
Email: {{ user.email }}<br>

<p>Please log to your admin panel and review the same.</p>

{{ include('@App/Emails/_footer.html.twig') }}