{% extends 'base.html.twig' %}
{% set class_main = 'profile-page' %}

{% block top_content %}
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-default">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--400">
                <div class="px-4">
                    <div class="text-justify mt-5">
                        <h3>PRIVACY POLICY-ITG</h3>

                        <p>
                            This overall Privacy statement verifies, among other things, that Intel Technology Group, LLC ("we" or "us" or "ITG") has a firm commitment to privacy. We take your privacy concerns seriously and want to make reasonable efforts to address them as we strive to offer our site visitors a high quality, interactive and personalized experience. This Privacy Policy explains our position on information gathering and how we intend to use and share any information we collect. This Privacy Policy applies only to information collected by
                            <a href="www.itgrediduals.com" target="_blank">www.itgrediduals.com</a> and
                            <a href="www.inteltechnologygroup.com" target="_blank">www.inteltechnologygroup.com</a> (ITG Web) and does not apply to information obtained or used by Intel Technology Group through other means.
                        </p>

                        <p>You understand and agree that, by visiting ITG web, you are accepting, without modification, this Privacy Policy. If you disagree with any portion of this Privacy Policy, then your only option is to not use ITG Web.</p>

                        <p>
                            This Privacy Policy is made effective as of the Effective Date set forth above, but we reserve the right to add, change, update, or modify this Privacy Policy at any time and without notice by posting such addition, change, update, or modification on the Website. Any such addition, change, update or modification will be effective immediately upon posting on the Website. Please check this page periodically for changes. Information collected prior to the time any change is posted will be used according to the rules and policies that are applied at the time the information was collected.
                        </p>
                        <p>
                            Traffic Data Collected. Like most web sites, our servers automatically track and collect some or all of the following information when you visit our Website, including: (i) your IP address, (ii) your domain server, (iii) the URL being requested, (iv) the referring URL, (v) your type of computer, (vi) the browser type and operating system used to make the request, (vii) the date and time of the request, and (viii) source of any link (collectively, "Traffic Data"). Traffic Data is anonymous information that does not personally identify you but is helpful for marketing purposes or for improving your experience on the Website. We do not associate Traffic Data with records containing personal information and cannot use Traffic Data to retrieve personal information from your computer
                        </p>
                        <p>
                            Personal Information Collected. Our Website requires registration and such registration forms request that you provide us with information that personally identifies you ("Personal Information"). Personal Information we request includes some or all of the following: (i) your name, (ii) address, (iii) home telephone number, (iv) employer's name, (v) work telephone number, (vi) e-mail address, (vii) demographic information, and (viii) any other Personal Information that you may voluntarily provide to us but are not required to. If you communicate with us by email or complete online forms, any Personal Information provided in such communication may be collected by us.
                        </p>

                        <h4>Sharing of Personal Information</h4>
                        <p>
                            We do not share Personal Information with advertisers or any other third parties, except in the following limited circumstances:

                            Consent. In the event and to the extent we have your consent. In such cases, we will provide opt-in consent for the sharing of any sensitive personal information.
                        </p>

                        <p>
                            Affiliated or Trusted Persons. We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures. We occasionally utilize trusted third parties to perform certain functions on our behalf such as payment of commissions. These authorized third parties may be given access to Personal Information in order to perform their designated function but are contractually bound to maintain the confidentiality and security of the Personal Information. Furthermore, such third parties are restricted from using or in any way altering data other than in accordance with their expressed contractual function.
                        </p>
                        <p>
                            Enforcement or Protection. We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce our Terms of Service, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the rights, property or safety of us, our users or the public as required or permitted by law. Mergers and Acquisition. If we become involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.
                        </p>

                        <h4>Uses of Information Collected</h4>

                        <p>
                            Generally, we use your Personal Information to send you information about our company or our products or services, to respond to any inquiries you may make with us, or to contact you when necessary. We use your Traffic Data in order to assess future changes to our Website in order to enhance your experience on the Website. In the event you receive e-mail from us, you choose to opt out of receiving future mailing at any time by following the links provided therein.
                        </p>

                        <p>
                            We require your email address in order to sign up for our newsletter. Your email may be shared and used by any of our divisions, subsidiaries or affiliates in connection with the newsletter; however, such information will not be given or sold to any third parties.
                        </p>

                        <p>
                            Contact Forms. Some of our Websites feature contact forms to assist users in directing their feedback to the correct party. If you send feedback to any of our Websites and include a valid email address, we may reply to the user. The reply will be used to provide the user with additional information, answer a user question or direct the user to another source for information. Personal Information sent to any of our divisions will be kept confidential in accordance with this Privacy Policy and may be used in aggregate to help guide policy decisions at any or all of our divisions. However, we will freely use, and cannot guarantee the confidentiality of, any information that does not constitute Personal Information.
                        </p>

                        <h4>User Choice Regarding Personal Information</h4>

                        <p>
                            You may choose not to provide us with any Personal Information. In the event you do not provide your Personal Information, while you can still access and use a substantial portion of the Website, you may not have access to certain portions of the Website, or to certain of our products or services. In addition, we will not be able to respond to any inquiry you may have. If you do not wish to receive information and promotional material from us, you may select the appropriate "opt-out" option each time we ask you for Personal Information.
                        </p>

                        <h4>User Ability to Access, Update and Correct Personal Information</h4>

                        <p>In order to ensure that all of your Personal Information is correct and up-to-date, at any time you may visit your personal profile. Through your personal profile you may: (a) review and update your Personal Information that we have already collected; or (b) choose whether or not you wish us to send you information about our company or promotional material from our company.</p>

                        <h4>Message Boards and Blogs</h4>

                        <p>
                            Please understand that any information you share or post on the internet or otherwise public area, such as a message board or blog, becomes public and therefore is not governed by this Privacy Policy. This Privacy Policy does not apply to any information, postings, message or comments that you choose to make public and therefore we will not be responsible for any misuse of that information. We recommend that you do not post personal information on any message boards, blogs or comment space, including letters to us or any of our divisions, that you intend to keep private.
                        </p>

                        <h4>Advertisers</h4>

                        <p>
                            You will note the presence of third party advertiser on our Websites. In addition, from time to time these advertisers may post their own giveaways, contest and surveys or requests for registration. If you respond, in any way, to an advertiser tile, banner, contest, giveaway, survey or link on any of our Websites, this Privacy Policy not apply and you will then be subject to the privacy policy, terms, conditions and copyright policies of the advertiser's website and governing policies, divisions or bodies. For example, we do not control how third party advertisers use cookies that originate from their own websites even if linked from one of our Websites.
                        </p>

                        <p>
                            We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address, email address or telephone number) about your visits to this Website and other websites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, click here.
                            Some vendors such as Google use cookies to serve ads on our sites. Google's DART cookie enables it to serve ads to users based on their visit to our sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.

                        </p>

                        <h4>Links to Other Websites</h4>

                        <p>
                            Our Websites sometimes provides links and pointers to various websites maintained by other organizations. Our Websites provide these links as a convenience to our users, but does not operate, control or endorse these outside linked sites unless otherwise expressly and duly noted. We are solely responsible for the Websites owned and operated by CC. In addition, various partnered sites are governed under contractual agreements which incorporate this Privacy Policy. WE, ON OUR OWN BEHALF AND ON BEHALF OF OUR DIVISIONS, SUBSIDIARIES, AFFILIATES, PARTNERS, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, AND CONTRACTORS, EXPRESSLY DISCLAIM ANY OBLIGATION, RESPONSIBILITY OR LIABILITY FOR THE COLLECTION, USE OR DISTRIBUTION OF INFORMATION COLLECTED THOUGH ANY THIRD PARTY SITES. We encourage you to read the privacy policies contained on each of the websites you visit.
                        </p>

                        <h4>Contact</h4>

                        <p>
                            If you have any questions about this Privacy Policy, the practices of our Websites or your dealings with our Websites, please contact us at
                            <a href="mailto:inteltechnolgygroup@gmail.com">inteltechnolgygroup@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}