{% extends 'base.html.twig' %}
{% set class_main = 'profile-page' %}

{% block top_content %}
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-default">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--400">
                <div class="px-4">
                    <div class="text-justify mt-5">
                        {{ include('@App/global/terms.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}